<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Management</title>
  </head>
<body>
  <h1>Account Management</h1>
  <p>You're logged in!</p>
  </body>
</html>

